.online{
  color: green;
}

.offline{
  color: red;
}

.channelLogo{
  border-radius: 50px;
}

.gameLogo{
    background-color: white;
    border-radius: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.9;
}

.gameLogo:hover{
    background-color: #17141f;
    opacity: 0.9;
     -webkit-transition: background-color 0.5s ease-in;
     -moz-transition: background-color 0.5s ease-in;
     -o-transition: background-color 0.5s ease-in;
}


.social{
    background-color: white;
    border-radius: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.6;
}

.social:hover{
    background-color: #17141f;
    opacity: 0.9;
     -webkit-transition: background-color 0.5s ease-in;
     -moz-transition: background-color 0.5s ease-in;
     -o-transition: background-color 0.5s ease-in;
}

.FA_Icon {
  color: #59448a
}

@font-face {
  font-family: Twitch; src: url("twitch.otf");
}

h1 {
  color: #59448a;
  font-family: Twitch, Arial, sans-serif;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  text-shadow: 2px 0px #59448a;
  font-size: 5em
}

/* Possible Background Image Addition
style="background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_banner-6f5e3445ff474aec-480.png); height: 50%; width: 50%; border: 1px solid black; opacity: 0.5;"
*/
